{% extends "base.html" %}
   <body>
    <main>
      {% block content %}
      <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: {{ post.location }}
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: {{ post.category }}
            </li>
          </ul>
          <p>
              {{ post.text|linebreaksbr }}
          </p>
        </article>
      </div>
      {% endblock %}
    </main>
  </body>
</html>
