{% extends "base.html" %}
<!DOCTYPE html>
<html lang="ru">
   <body>
    <main>
      {% block content %}
      <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: {{ post_detail.location }}
            </li>
            <li>
              Дата: {{ post_detail.date }}
            </li>
            <li>
              Категория: {{ post_detail.category }}
            </li>
          </ul>
          <p>
              {{ post_detail.text|linebreaksbr }}
          </p>
        </article>
      </div>
      {% endblock %}
    </main>
  </body>
</html>
